<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link href="/styles/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <% if(locals.data) { %>
        <div class="events">
            <div class="date">
                <h1>Date: <%= data.date %></h1>
                <a class="custom_date_link" href="#input-date">Custom date</a>
            </div>
            <%# iterate over the list of events %>
            <% data.events.forEach(event => { %>     
                <ul>
                    <li><strong><%= event.year %></strong>: <br><%= event.description %> <br><br><span style="font-weight: bolder; color: black;">For More Information:- </span><br>
                        <% event.wikipedia.forEach(link => {  %>
                            <a href="<%= link.wikipedia %>"><%=link.title  %></a><br>
                        <% }) %>
                    </li>
                </ul><hr>
            <% }); %>
        </div>
        <% } %>

        <%# check for error %>
        <% if(locals.error) { %>
            <div class="tag-error">
                <%= error %>
            </div>
        <% } %>
    </div>
    <%# for the custom date %>
    <div id="input-date" class="input-date">
        <form action="/submit" method="GET">
            <label for="month">Month</label>
            <input type="number" class="month" name="month" id="month" min="1" max="12" oninput="adjustDayMax()" placeholder="Month Number" required>
            <br>
            <label for="day">Day</label>
            <input type="number" class="day" name="day" id="day" min="1" max="31" placeholder="Day" required>
            <input type="submit" value="Submit" id="submit"> 
        </form>
    </div>

    <%# if user puts day or month out of range then it will set the month and day to its maximum value %>
    <script>
        function adjustDayMax() {
            const month = document.getElementById('month').value;
            const dayInput = document.getElementById('day');

            let maxDays = 31;
            if (month == 2) {
                maxDays = 28; 
            } else if (month == 4 || month == 6 || month == 9 || month == 11) {
                maxDays = 30; 
            }
            dayInput.max = maxDays;

            if (dayInput.value > maxDays) {
                dayInput.value = maxDays;
            }
        }
    </script>
</body>
</html>